* {
    background-color: black;
    color: white;
}

h1 {
    color: dodgerblue;
}

.container {
    background-color: purple;
    height: 150px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.item {
    background-color: orange;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.nav {
    width: 600px;
    display: flex;
    background-color:steelblue;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}